.navbar {
    background-color: #252525;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo styling */
.navbar-logo-img {
  height: 50px; 
  width: auto;
}

  .navbar-links {
    display: flex;
    gap: 15px;
    margin-right: 30px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  